openapi: 3.1.0
info:
  title: Help Desk Segreteria KB GitHub Control Plane
  version: 0.2.0
  description: Read KB files and create pending update request issues for Bugnion Help Desk Segreteria.
servers:
  - url: https://api.github.com
components:
  securitySchemes:
    githubOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: Read private repository contents and create update-request issues.
  schemas:
    GitHubContentFile:
      type: object
      properties:
        name:
          type: string
        path:
          type: string
        sha:
          type: string
        size:
          type: integer
        encoding:
          type: string
        content:
          type: string
          description: Base64-encoded file content returned by GitHub Contents API.
        download_url:
          type: string
    GitHubIssue:
      type: object
      properties:
        number:
          type: integer
        html_url:
          type: string
        title:
          type: string
        state:
          type: string
security:
  - githubOAuth:
      - repo
paths:
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/KB_HELPDESK_SEGRETERIA_MANIFEST.md:
    get:
      operationId: getHelpdeskKbManifest
      description: Get the current Help Desk Segreteria KB manifest.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/KB_HELPDESK_PROCEDURE__aggiornata_deposito_IT_UIBM.md:
    get:
      operationId: getProcedureKb
      description: Get the primary operational procedure KB file.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/NUOVO_MD_ADOTTATO_NORMALIZZATO.md:
    get:
      operationId: getPctPriorityItalyKb
      description: Get the PCT from Italian priority procedure KB file.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/B3000_consolidated_optimized.md:
    get:
      operationId: getB3000Kb
      description: Get the B3000 consolidated KB file.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/EPAC_entry_consolidated_optimized.md:
    get:
      operationId: getEpacEntryKb
      description: Get EPAC entry-level training material.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/2026_Intro%20brevetti.md:
    get:
      operationId: getIntroBrevettiKb
      description: Get the patents introduction KB file.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/2026_Intro%20IP.md:
    get:
      operationId: getIntroIpKb
      description: Get the intellectual property introduction KB file.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/contents/KB/Tips%20%26%20tricks%20B2K%20%28anagrafiche%20GDPR%20codici%20pratiche%20preventivi%29-%20Federica%20Prota.md:
    get:
      operationId: getTipsTricksB2kKb
      description: Get B2K tips and tricks KB file.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: published
      responses:
        '200':
          description: GitHub content file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubContentFile'
  /repos/franzo9393/Geppetto-help-desk-segreteria-kb/issues:
    post:
      operationId: createKbUpdateRequestIssue
      description: Create a pending KB update request issue for human/Hermes review.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - body
              properties:
                title:
                  type: string
                  maxLength: 120
                  description: Short title starting with 'KB update request:'.
                body:
                  type: string
                  maxLength: 8000
                  description: Structured request with scope, target file, proposed text, source, risks, and reviewer notes.
                labels:
                  type: array
                  items:
                    type: string
                  default:
                    - kb-update-request
                    - pending-review
      responses:
        '201':
          description: Created update request issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubIssue'
